{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Ben's Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Who are my <mark> favorite basketball players</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Kobe Bryant</li>
                            <li>Jordan Poole</li>
                            <li>Darius Garland</li>
                            <li>Steph Curry</li>
                            <li>Michael Jordan</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">What are my <mark>favorite foods</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Steak</li>
                            <li>Fish</li>
                            <li>Pho</li>
                            <li>Rice</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">What <mark>classes</mark> am I taking right now?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Advanced Basketball</li>
                            <li>Intro to Finance 1</li>
                            <li>Expository Reading and Writing 1</li>
                            <li>AP Computer Science Principles</li>
                            <li>AP Government</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}